main {
	margin-top: 7rem;
	margin-left: 16rem;
}

.animalImages {
	width: 100%;
	text-align: center;
}

.animalImages img {
	width: 45%;
	height: auto;
}

.description {
	margin: 20px;
}

/*---------------- Kod för tiger.html ------------*/
.tigerImages {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tigerImages img {
	width: 30%;
	height: auto;
	padding: 16px;
}

.roundTiger {
	border-radius: 50%;
}
