body {
	padding: 0;
	margin: 0; /* Koden gör så att man inte kan se hemsidans kanter*/
	box-sizing: border-box;
}

hr {
	/* En linje*/
	height: 2px;
	border-width: 0; /* Tar bort kanterna*/
	border-style: solid;
	background-color: white;
	color: white;
	justify-content: center; /*placerar den i mitten*/
	width: 60%;
}

li {
	list-style: none; /* Tar bort punkterna på länkarna */
}

@font-face {
	font-family: "AvantGarde"; /*Namn på nedladdad font*/
	src: url("../AvantGardeBookBT.ttf") format("woff"); /* Kod för att hämta den*/
}
